@import url("https://fonts.googleapis.com/css?family=Poppins");
.m-100 {
  margin: 100px; }

.p-100 {
  padding: 100px; }

.m-t-100 {
  margin-top: 100px; }

.m-b-100 {
  margin-bottom: 100px; }

.m-l-100 {
  margin-left: 100px; }

.m-r-100 {
  margin-right: 100px; }

.p-t-100 {
  padding-top: 100px; }

.p-b-100 {
  padding-bottom: 100px; }

.p-l-100 {
  padding-left: 100px; }

.p-r-100 {
  padding-right: 100px; }

.m-95 {
  margin: 95px; }

.p-95 {
  padding: 95px; }

.m-t-95 {
  margin-top: 95px; }

.m-b-95 {
  margin-bottom: 95px; }

.m-l-95 {
  margin-left: 95px; }

.m-r-95 {
  margin-right: 95px; }

.p-t-95 {
  padding-top: 95px; }

.p-b-95 {
  padding-bottom: 95px; }

.p-l-95 {
  padding-left: 95px; }

.p-r-95 {
  padding-right: 95px; }

.m-90 {
  margin: 90px; }

.p-90 {
  padding: 90px; }

.m-t-90 {
  margin-top: 90px; }

.m-b-90 {
  margin-bottom: 90px; }

.m-l-90 {
  margin-left: 90px; }

.m-r-90 {
  margin-right: 90px; }

.p-t-90 {
  padding-top: 90px; }

.p-b-90 {
  padding-bottom: 90px; }

.p-l-90 {
  padding-left: 90px; }

.p-r-90 {
  padding-right: 90px; }

.m-85 {
  margin: 85px; }

.p-85 {
  padding: 85px; }

.m-t-85 {
  margin-top: 85px; }

.m-b-85 {
  margin-bottom: 85px; }

.m-l-85 {
  margin-left: 85px; }

.m-r-85 {
  margin-right: 85px; }

.p-t-85 {
  padding-top: 85px; }

.p-b-85 {
  padding-bottom: 85px; }

.p-l-85 {
  padding-left: 85px; }

.p-r-85 {
  padding-right: 85px; }

.m-80 {
  margin: 80px; }

.p-80 {
  padding: 80px; }

.m-t-80 {
  margin-top: 80px; }

.m-b-80 {
  margin-bottom: 80px; }

.m-l-80 {
  margin-left: 80px; }

.m-r-80 {
  margin-right: 80px; }

.p-t-80 {
  padding-top: 80px; }

.p-b-80 {
  padding-bottom: 80px; }

.p-l-80 {
  padding-left: 80px; }

.p-r-80 {
  padding-right: 80px; }

.m-75 {
  margin: 75px; }

.p-75 {
  padding: 75px; }

.m-t-75 {
  margin-top: 75px; }

.m-b-75 {
  margin-bottom: 75px; }

.m-l-75 {
  margin-left: 75px; }

.m-r-75 {
  margin-right: 75px; }

.p-t-75 {
  padding-top: 75px; }

.p-b-75 {
  padding-bottom: 75px; }

.p-l-75 {
  padding-left: 75px; }

.p-r-75 {
  padding-right: 75px; }

.m-70 {
  margin: 70px; }

.p-70 {
  padding: 70px; }

.m-t-70 {
  margin-top: 70px; }

.m-b-70 {
  margin-bottom: 70px; }

.m-l-70 {
  margin-left: 70px; }

.m-r-70 {
  margin-right: 70px; }

.p-t-70 {
  padding-top: 70px; }

.p-b-70 {
  padding-bottom: 70px; }

.p-l-70 {
  padding-left: 70px; }

.p-r-70 {
  padding-right: 70px; }

.m-65 {
  margin: 65px; }

.p-65 {
  padding: 65px; }

.m-t-65 {
  margin-top: 65px; }

.m-b-65 {
  margin-bottom: 65px; }

.m-l-65 {
  margin-left: 65px; }

.m-r-65 {
  margin-right: 65px; }

.p-t-65 {
  padding-top: 65px; }

.p-b-65 {
  padding-bottom: 65px; }

.p-l-65 {
  padding-left: 65px; }

.p-r-65 {
  padding-right: 65px; }

.m-60 {
  margin: 60px; }

.p-60 {
  padding: 60px; }

.m-t-60 {
  margin-top: 60px; }

.m-b-60 {
  margin-bottom: 60px; }

.m-l-60 {
  margin-left: 60px; }

.m-r-60, header .nav-item {
  margin-right: 60px; }

.p-t-60, .custSideNavContent .sideNavBody {
  padding-top: 60px; }

.p-b-60 {
  padding-bottom: 60px; }

.p-l-60 {
  padding-left: 60px; }

.p-r-60 {
  padding-right: 60px; }

.m-55 {
  margin: 55px; }

.p-55 {
  padding: 55px; }

.m-t-55 {
  margin-top: 55px; }

.m-b-55 {
  margin-bottom: 55px; }

.m-l-55 {
  margin-left: 55px; }

.m-r-55 {
  margin-right: 55px; }

.p-t-55 {
  padding-top: 55px; }

.p-b-55 {
  padding-bottom: 55px; }

.p-l-55 {
  padding-left: 55px; }

.p-r-55 {
  padding-right: 55px; }

.m-50 {
  margin: 50px; }

.p-50 {
  padding: 50px; }

.m-t-50 {
  margin-top: 50px; }

.m-b-50 {
  margin-bottom: 50px; }

.m-l-50 {
  margin-left: 50px; }

.m-r-50, .navbar-brand {
  margin-right: 50px; }

.p-t-50 {
  padding-top: 50px; }

.p-b-50, .footerCon {
  padding-bottom: 50px; }

.p-l-50 {
  padding-left: 50px; }

.p-r-50 {
  padding-right: 50px; }

.m-45 {
  margin: 45px; }

.p-45 {
  padding: 45px; }

.m-t-45 {
  margin-top: 45px; }

.m-b-45 {
  margin-bottom: 45px; }

.m-l-45 {
  margin-left: 45px; }

.m-r-45 {
  margin-right: 45px; }

.p-t-45 {
  padding-top: 45px; }

.p-b-45 {
  padding-bottom: 45px; }

.p-l-45 {
  padding-left: 45px; }

.p-r-45 {
  padding-right: 45px; }

.m-40 {
  margin: 40px; }

.p-40 {
  padding: 40px; }

.m-t-40 {
  margin-top: 40px; }

.m-b-40 {
  margin-bottom: 40px; }

.m-l-40 {
  margin-left: 40px; }

.m-r-40 {
  margin-right: 40px; }

.p-t-40 {
  padding-top: 40px; }

.p-b-40 {
  padding-bottom: 40px; }

.p-l-40 {
  padding-left: 40px; }

.p-r-40, header .navbar input[type=search] {
  padding-right: 40px; }

.m-35 {
  margin: 35px; }

.p-35 {
  padding: 35px; }

.m-t-35 {
  margin-top: 35px; }

.m-b-35 {
  margin-bottom: 35px; }

.m-l-35 {
  margin-left: 35px; }

.m-r-35 {
  margin-right: 35px; }

.p-t-35 {
  padding-top: 35px; }

.p-b-35 {
  padding-bottom: 35px; }

.p-l-35 {
  padding-left: 35px; }

.p-r-35 {
  padding-right: 35px; }

.m-30 {
  margin: 30px; }

.p-30, .custSideNavContent .sideNavHeader, .cartScreen .card-body {
  padding: 30px; }

.m-t-30, #loginSideNav .socialLoginTitle, #mobileUpdateSideNav .socialLoginTitle {
  margin-top: 30px; }

.m-b-30, .custSideNavContent .chooseItem, .cartCard {
  margin-bottom: 30px; }

.m-l-30 {
  margin-left: 30px; }

.m-r-30 {
  margin-right: 30px; }

.p-t-30, .footerCon {
  padding-top: 30px; }

.p-b-30, .custSideNavContent .sideNavBody {
  padding-bottom: 30px; }

.p-l-30, .custSideNavContent .sideNavBody {
  padding-left: 30px; }

.p-r-30, .custSideNavContent .sideNavBody {
  padding-right: 30px; }

.m-25 {
  margin: 25px; }

.p-25 {
  padding: 25px; }

.m-t-25 {
  margin-top: 25px; }

.m-b-25 {
  margin-bottom: 25px; }

.m-l-25 {
  margin-left: 25px; }

.m-r-25 {
  margin-right: 25px; }

.p-t-25 {
  padding-top: 25px; }

.p-b-25 {
  padding-bottom: 25px; }

.p-l-25 {
  padding-left: 25px; }

.p-r-25 {
  padding-right: 25px; }

.m-20 {
  margin: 20px; }

.p-20, .orderSummary, .billInfo, .mobilePage .orderSummaryInfo, .mobilePage .card-body {
  padding: 20px; }

.m-t-20, #loginSideNav .createNew, #mobileUpdateSideNav .createNew {
  margin-top: 20px; }

.m-b-20, #loginSideNav .createNew, #mobileUpdateSideNav .createNew, .cartScreen .card, .orderSummary h4 {
  margin-bottom: 20px; }

.m-l-20, .footerCon .socialLinks i {
  margin-left: 20px; }

.m-r-20, .footerCon .socialLinks i {
  margin-right: 20px; }

.p-t-20, header .navbar, #loginSideNav .sideNavBody, #mobileUpdateSideNav .sideNavBody {
  padding-top: 20px; }

.p-b-20, header .navbar {
  padding-bottom: 20px; }

.p-l-20, header .navbar input[type=search], .mobileTitleHeader, .cartInfo {
  padding-left: 20px; }

.p-r-20, .mobileTitleHeader, .cartInfo {
  padding-right: 20px; }

.m-15 {
  margin: 15px; }

.p-15, .checkOutModal, .alertModal, #locationModal, .searchLocation, .placeOrderMsg, .cartCard {
  padding: 15px; }

.m-t-15 {
  margin-top: 15px; }

.m-b-15, .custSideNavContent .sideNavBody .sideNavBodyTitle, svg, .cartScreen .form-check, .paymentOptions li {
  margin-bottom: 15px; }

.m-l-15, header .navbar input[type=search] {
  margin-left: 15px; }

.m-r-15, #loginSideNav .socialLogins .item span:first-child, #mobileUpdateSideNav .socialLogins .item span:first-child, .socialLogins .item span {
  margin-right: 15px; }

.p-t-15 {
  padding-top: 15px; }

.p-b-15, .mobilePage h4 {
  padding-bottom: 15px; }

.p-l-15 {
  padding-left: 15px; }

.p-r-15 {
  padding-right: 15px; }

.m-10 {
  margin: 10px; }

.p-10, .footerCon .socialLinks i {
  padding: 10px; }

.m-t-10, #loginSideNav .socialLogins, #mobileUpdateSideNav .socialLogins, .searchLocation, .deliveryInfo > div:nth-child(n+2), .socialLogins {
  margin-top: 10px; }

.m-b-10, .custSideNavContent .chooseItem img, .dateSlot, .deliveryTimes .timeSlot, .mobilePage .orderSummaryInfo .list {
  margin-bottom: 10px; }

.m-l-10 {
  margin-left: 10px; }

.m-r-10, .divider-r, button.addToCart.added i, .dateSlot, .deliveryTimes .timeSlot {
  margin-right: 10px; }

.p-t-10, .mobileTitleHeader {
  padding-top: 10px; }

.p-b-10, .mobileTitleHeader {
  padding-bottom: 10px; }

.p-l-10 {
  padding-left: 10px; }

.p-r-10, .divider-r, .orderSummary .list {
  padding-right: 10px; }

.m-5 {
  margin: 5px; }

.p-5 {
  padding: 5px; }

.m-t-5 {
  margin-top: 5px; }

.m-b-5 {
  margin-bottom: 5px; }

.m-l-5 {
  margin-left: 5px; }

.m-r-5 {
  margin-right: 5px; }

.p-t-5, header {
  padding-top: 5px; }

.p-b-5 {
  padding-bottom: 5px; }

.p-l-5, .mobilePage .card-body label {
  padding-left: 5px; }

.p-r-5 {
  padding-right: 5px; }

.m-0, .cartCard figure {
  margin: 0px; }

.p-0, .mobilePage .orderSummaryInfo .orderSummary {
  padding: 0px; }

.m-t-0 {
  margin-top: 0px; }

.m-b-0 {
  margin-bottom: 0px; }

.m-l-0 {
  margin-left: 0px; }

.m-r-0 {
  margin-right: 0px; }

.p-t-0 {
  padding-top: 0px; }

.p-b-0 {
  padding-bottom: 0px; }

.p-l-0 {
  padding-left: 0px; }

.p-r-0 {
  padding-right: 0px; }

* {
  box-sizing: border-box;
  font-family: "Poppins"; }

html,
body {
  height: 100%;
  width: 100%;
  background-color: #F4F4F4; }

.bodyBgColor {
  background-color: #F4F4F4; }

.p-static {
  position: static; }

.p-static-imp {
  position: static !important; }

.p-relative, header .divider-r, footer, .custSideNavContent .sideNavHeader, .locationCon, .form-group {
  position: relative; }

.p-absolute, header .divider-r:after, header .openSeacrh:hover .form-inline, .cartCount, .custSideNavContent .sideNavHeader .sideNavtitle, .closeSideNav, .closeIcon, .searchLocation, .formValidMsg, .resendOtpBtn {
  position: absolute; }

.w-150px {
  width: 150px; }

.font-w600, #loginSideNav .socialLogins .item span:first-child, #mobileUpdateSideNav .socialLogins .item span:first-child, .paymentOptions li, .socialLogins .item span {
  font-weight: 600; }

.font-w900 {
  font-weight: 900; }

.font-w300 {
  font-weight: 300; }

.whiteSpace-nw {
  white-space: nowrap; }

.bg-trasparent {
  background-color: transparent; }

.border-0 {
  border-width: 0; }

.primaryBtn, .cartCount {
  background-color: #F01716;
  color: #ffffff; }

.primaryTextColor {
  color: #F01716; }

.primaryBtnInverse, footer .fillIcon .cartCount {
  background-color: #ffffff;
  color: #F01716;
  border: 1px solid #F01716;
  font-weight: 600; }

.secondaryTextColor, .successTextColor {
  color: #2aac2c; }

.errorTextColor {
  color: #ff0000; }

.successBtn {
  background-color: #417505;
  color: #ffffff; }

.successBtnInverse, button.addToCart.added {
  background-color: #ffffff;
  color: #417505;
  border: 1px solid #417505;
  font-weight: 600; }

.pointer, .footerCon .socialLinks i, .locationText, .paymentOptions li, .dateSlot, .deliveryTimes .timeSlot {
  cursor: pointer; }

.bg-white {
  background-color: #ffffff; }

.white-text, #loginSideNav .socialLogins .closeSideNav, #mobileUpdateSideNav .socialLogins .closeSideNav {
  color: #ffffff !important; }

header {
  background-color: #fff; }
  @media (max-width: 991.98px) {
    header {
      padding-top: 0; } }
  header .phoneNum {
    font-weight: 600; }
    header .phoneNum i {
      font-size: 1.8rem !important;
      text-shadow: 1px 0 0 #000;
      margin-right: 5px; }
    header .phoneNum a {
      color: inherit; }
  header .divider-r {
    border-width: 0; }
    header .divider-r:after {
      content: '';
      border-right: 1px solid #cecece;
      right: 0;
      top: 10px;
      bottom: 10px;
      font-weight: 100;
      color: #cccccc;
      transform: scaleY(1.1); }
  header .navbar input[type=search] {
    border-radius: 20px;
    font-size: 1rem; }
    @media (min-width: 992px) {
      header .navbar input[type=search] {
        border-radius: 25px; } }
  header .navbar .material-icons {
    font-size: 1.3rem; }
  header .nav-item a {
    color: inherit;
    font-weight: 600;
    text-transform: capitalize; }
  header .nav-item .active {
    color: #F01716;
    border-bottom: 1px solid #F01716; }
  header .container-fluid {
    border-bottom: 1px solid #F4F4F4; }
  header .openSeacrh .form-inline {
    display: none; }
  header .openSeacrh:hover .form-inline {
    display: block;
    left: 8px;
    right: 8px; }
  header .openSeacrh:hover input {
    border-radius: 30px;
    padding: 12px 65px 12px 12px; }
  header .openSeacrh i {
    font-size: 2rem; }
  header .phone-icon i {
    font-size: 2rem; }
  @media (min-width: 1200px) {
    header .searchBarCon {
      max-width: 400px; } }
  header .searchInBtn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-width: 0;
    border-radius: 0 25px 25px 0;
    background-color: transparent; }
    header .searchInBtn:hover {
      background-color: transparent;
      color: inherit; }
    header .searchInBtn:focus {
      outline: none;
      background-color: transparent;
      border-width: 0;
      box-shadow: none; }
    header .searchInBtn i {
      color: inherit !important; }

.nav.mobile-nav {
  overflow-x: auto;
  flex-wrap: nowrap;
  background-color: #fff; }
  .nav.mobile-nav a {
    color: inherit;
    font-size: 0.8rem; }
  .nav.mobile-nav .active {
    color: #F01716;
    border-bottom: 1px solid #F01716; }

.cartCount {
  right: -10px;
  top: -10px;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
  font-size: 0.7rem; }

.navbar-brand {
  width: 125px; }

.flex-grow-1 {
  flex-grow: 1 !important; }

.overflow-h {
  overflow: hidden; }

.profileMenu .dropdown-menu {
  left: auto;
  right: 0;
  font-size: 0.85rem; }

.smallLabel {
  font-size: 0.8rem;
  font-weight: 400; }

.smallText {
  font-size: 0.8rem; }

.condition-text {
  font-size: 0.6rem; }

.divider-r {
  border-right: 1px solid #c1c1c1; }

.divider-b, .mobilePage h4, .cart-items:empty {
  border-bottom: 1px solid #c1c1c1; }

.divider-t {
  border-top: 1px solid #c1c1c1; }

.rupee {
  font-family: initial; }

footer {
  z-index: 2; }
  footer .cartCount {
    right: 0;
    top: 0; }

.seoCon .container-fluid {
  width: 90%; }

.seoCon h1 {
  font-size: 1.1rem !important;
  margin-bottom: 10px; }

.seoCon .page-desc {
  font-size: 0.8rem;
  color: #929292;
  line-height: 20px; }

.footerCon {
  background-color: #000000;
  color: #ffffff; }
  @media (min-width: 992px) {
    .footerCon {
      padding-top: 50px; } }
  .footerCon li a {
    color: inherit; }
  @media (min-width: 992px) {
    .footerCon .container-fluid {
      width: 90%; } }
  .footerCon h3 {
    font-size: 1.2rem; }
    @media (max-width: 1199.98px) {
      .footerCon h3 {
        font-size: 1rem; } }
    @media (max-width: 991.98px) {
      .footerCon h3 {
        font-size: 1.2rem; } }
  @media (max-width: 767.98px) {
    .footerCon .deliverySlots li {
      width: 50%; } }
  .footerCon .socialLinks i {
    font-size: 1.8rem;
    border: 1px solid;
    border-radius: 50%;
    width: 1.8em;
    height: 1.8em;
    text-align: center; }
  .footerCon .col-cust {
    font-size: 0.9rem; }
    @media (max-width: 1199.98px) {
      .footerCon .col-cust {
        flex-basis: 25%;
        max-width: 25%; } }
    @media (max-width: 991.98px) {
      .footerCon .col-cust {
        flex-basis: 50%;
        max-width: 50%; } }
    @media (max-width: 767.98px) {
      .footerCon .col-cust {
        flex-basis: 100%;
        max-width: 100%; } }

.custSideNavContent {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 400px;
  max-width: 100%;
  z-index: 1000;
  transform: translateX(100%);
  transition: 0.5s transform;
  background-color: #ffffff; }
  @media (max-width: 991.98px) {
    .custSideNavContent {
      transform: translateY(100%);
      width: 100%;
      top: auto;
      max-height: 100%;
      overflow: auto; } }
  .custSideNavContent.open {
    transform: translateX(0%); }
    @media (max-width: 991.98px) {
      .custSideNavContent.open {
        transform: translateY(0%); } }
  .custSideNavContent .sideNavHeader {
    height: 25%;
    max-height: 200px; }
    @media (max-width: 991.98px) {
      .custSideNavContent .sideNavHeader {
        display: none !important; } }
    .custSideNavContent .sideNavHeader img {
      height: 100%;
      width: auto; }
    .custSideNavContent .sideNavHeader .sideNavtitle {
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      background-color: rgba(36, 106, 119, 0.7);
      color: #ffffff;
      font-size: 1.4rem; }
  .custSideNavContent .sideNavBody {
    height: 75%;
    overflow: auto;
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */ }
    @media (max-width: 991.98px) {
      .custSideNavContent .sideNavBody {
        height: auto;
        padding: 20px; }
        .custSideNavContent .sideNavBody .closeSideNav {
          right: 8px;
          top: 8px; } }
    .custSideNavContent .sideNavBody::-webkit-scrollbar {
      width: 5px; }
    .custSideNavContent .sideNavBody::-webkit-scrollbar-track {
      background: #f1f1f1; }
    .custSideNavContent .sideNavBody::-webkit-scrollbar-thumb {
      background: #888; }
    .custSideNavContent .sideNavBody::-webkit-scrollbar-thumb:hover {
      background: #555; }
    .custSideNavContent .sideNavBody .sideNavBodyTitle {
      font-size: 1.2rem;
      text-align: center;
      color: #9b9b9b; }
      @media (max-width: 767.98px) {
        .custSideNavContent .sideNavBody .sideNavBodyTitle {
          font-size: 1rem; } }
  .custSideNavContent .chooseItem {
    text-align: center;
    cursor: pointer; }
    @media (max-width: 991.98px) {
      .custSideNavContent .chooseItem {
        margin-bottom: 0; } }
    .custSideNavContent .chooseItem img {
      width: 6rem;
      height: 6rem;
      border-radius: 50%; }
    .custSideNavContent .chooseItem figcaption {
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
      color: #9b9b9b; }

#loginSideNav, #mobileUpdateSideNav {
  background: #000000;
  z-index: 1002; }
  #loginSideNav .loginLocation, #mobileUpdateSideNav .loginLocation {
    margin: -10px -20px 10px;
    padding-left: 20px; }
  #loginSideNav .sideNavHeader, #mobileUpdateSideNav .sideNavHeader {
    height: 15%;
    padding-bottom: 0; }
  #loginSideNav .sideNavBody, #mobileUpdateSideNav .sideNavBody {
    height: 85%; }
  #loginSideNav a, #loginSideNav p, #loginSideNav span, #mobileUpdateSideNav a, #mobileUpdateSideNav p, #mobileUpdateSideNav span {
    color: #F4F4F4; }
  #loginSideNav .createNew, #mobileUpdateSideNav .createNew {
    display: block;
    font-size: 0.9rem;
    border: 1px #fff solid;
    width: 200px;
    align-self: center;
    color: #fff;
    padding: 8px 10px;
    margin: 15px 0 5px; }
  #loginSideNav img, #mobileUpdateSideNav img {
    height: 70%;
    width: auto; }
  #loginSideNav .sideNavBodyTitle, #mobileUpdateSideNav .sideNavBodyTitle {
    text-align: left;
    font-size: 1.1rem; }
  #loginSideNav .socialLoginTitle, #mobileUpdateSideNav .socialLoginTitle {
    font-size: 0.8rem; }
    @media (max-width: 991.98px) {
      #loginSideNav .socialLoginTitle, #mobileUpdateSideNav .socialLoginTitle {
        margin-top: 15px; } }
  @media (max-width: 767.98px) {
    #loginSideNav .socialLogins, #mobileUpdateSideNav .socialLogins {
      flex-wrap: wrap; } }
  #loginSideNav .socialLogins .item, #mobileUpdateSideNav .socialLogins .item {
    width: 48%; }
    #loginSideNav .socialLogins .item .btn, #mobileUpdateSideNav .socialLogins .item .btn {
      height: 45px;
      color: #ffffff;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      font-size: 0.7rem; }
    #loginSideNav .socialLogins .item span:first-child, #mobileUpdateSideNav .socialLogins .item span:first-child {
      font-size: 1.8rem; }
  #loginSideNav .socialLogins .facebook, #mobileUpdateSideNav .socialLogins .facebook {
    background-color: #2b3c64; }
  #loginSideNav .socialLogins .gplus, #mobileUpdateSideNav .socialLogins .gplus {
    background-color: #dc412c; }

.wrapText {
  white-space: pre-wrap; }
  @media (max-width: 575.98px) {
    .wrapText.btn {
      font-size: 0.8rem; } }

.closeSideNav, .closeIcon {
  right: 5px;
  top: 5px;
  z-index: 1;
  color: #9b9b9b;
  cursor: pointer; }
  .closeSideNav i, .closeIcon i {
    font-size: 1.8rem; }
    @media (max-width: 991.98px) {
      .closeSideNav i, .closeIcon i {
        font-size: 1rem; } }

.bgOverlay, .bgProductOverlay, .searchBgOverlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  display: none; }

.mobileFooterIcos {
  height: 60px;
  /*.cartPageIcon .outlineIcon {
	margin-top: 16px;
  }
  .profilePageIcon .outlineIcon{
	margin-top: 8px;
	}*/ }
  .mobileFooterIcos > ul {
    border-top: 1px solid #dbdbdb;
    position: fixed;
    height: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff; }
    .mobileFooterIcos > ul .nav-link {
      color: #F01716;
      display: flex;
      align-items: center; }
    .mobileFooterIcos > ul i {
      font-size: 2.1rem; }
      .mobileFooterIcos > ul i.icon-home-house-streamline, .mobileFooterIcos > ul i.icon-user-outline, .mobileFooterIcos > ul i.icon-user {
        font-size: 2rem; }
      .mobileFooterIcos > ul i.icon-home-house-streamline:before {
        font-weight: 900 !important; }
  .mobileFooterIcos .nav-item {
    max-height: 56px; }

footer .mobileFooterIcos .fillIcon {
  display: none; }

.icon2x {
  font-size: 130%; }

.h1 {
  font-size: 1.6rem; }

.h2 {
  font-size: 1.4rem; }

.h3 {
  font-size: 1rem; }

.h4 {
  font-size: 0.9rem; }

.t-center, #loginSideNav .createNew, #mobileUpdateSideNav .createNew {
  text-align: center; }

.t-left {
  text-align: left; }

.t-right {
  text-align: right; }

.l-h-1 {
  line-height: 1; }

.l-h-0 {
  line-height: 0; }

.btn-focus-none:focus {
  outline: none; }

.checkOutModal, .alertModal {
  background-color: #e5fdc9;
  border-top: 1px solid #417505;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  transition: 0.5s transform;
  z-index: 1001; }
  .checkOutModal.open, .alertModal.open {
    transform: translateY(0%); }
  .checkOutModal .closeIcon i, .alertModal .closeIcon i {
    font-size: 1.1rem;
    background-color: transparent;
    color: #000;
    min-width: 20px;
    height: 20px; }
  @media (max-width: 767.98px) {
    .checkOutModal .checkOutInner, .alertModal .checkOutInner {
      font-size: 0.9rem; } }
  @media (max-width: 767.98px) and (max-width: 575.98px) {
    .checkOutModal .checkOutInner, .alertModal .checkOutInner {
      font-size: 0.8rem; } }
  @media (max-width: 767.98px) {
      .checkOutModal .checkOutInner .h5, .alertModal .checkOutInner .h5 {
        font-size: 1rem; } }
    @media (max-width: 767.98px) and (max-width: 575.98px) {
      .checkOutModal .checkOutInner .h5, .alertModal .checkOutInner .h5 {
        font-size: 0.8rem; } }
  .checkOutModal i, .alertModal i {
    min-width: 35px;
    max-width: 35px;
    height: 35px;
    background-color: #417505;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center; }
    @media (max-width: 575.98px) {
      .checkOutModal i, .alertModal i {
        min-width: 25px;
        max-width: 25px;
        height: 25px; } }
  .checkOutModal button, .alertModal button {
    min-width: 200px;
    max-width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 0; }
    @media (max-width: 767.98px) {
      .checkOutModal button, .alertModal button {
        min-width: 0;
        padding: 5px 15px;
        border-radius: 5px; }
        .checkOutModal button.successBtn, .alertModal button.successBtn {
          font-size: 1rem; } }
    @media (max-width: 767.98px) and (max-width: 575.98px) {
      .checkOutModal button.successBtn, .alertModal button.successBtn {
        font-size: 0.85rem; } }

#locationModal {
  background-color: #ffffff;
  box-shadow: 0 -1px 19px 1px #c4b7b7;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(calc(100% + 20px));
  transition: 0.5s transform;
  z-index: 1000; }
  #locationModal.open {
    transform: translateY(0%); }
  @media (max-width: 767.98px) {
    #locationModal .checkOutInner {
      flex-direction: column; } }
  @media (max-width: 767.98px) {
    #locationModal .checkOutInner > div {
      width: 100%; } }
  #locationModal .message {
    font-size: 1.1rem;
    color: #417505; }
  #locationModal input {
    height: 50px;
    background-color: #F4F4F4; }
  #locationModal .invalid-location {
    font-size: 14px;
    color: #ff0000;
    display: none;
    line-height: 1.5; }

.alertModal.error {
  background-color: white;
  border-top: 1px solid #ff0000; }
  .alertModal.error .successBtn {
    background-color: red; }

button.addToCart i {
  display: none; }

button.addToCart.added {
  display: flex;
  align-items: center;
  justify-content: space-around; }
  button.addToCart.added i {
    min-width: 20px;
    height: 20px;
    font-size: 16px;
    background-color: #417505;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center; }

.createAccount, .otpScreen {
  display: none; }

.locationText {
  font-weight: 100;
  color: #2aac2c;
  max-width: 120px; }

.searchLocation {
  top: 100%;
  width: 400px;
  z-index: 11;
  left: 50%;
  transform: translateX(-50%);
  background-color: #F01716;
  color: #ffffff;
  border-radius: 5px;
  display: none; }
  .searchLocation:before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid #F01716;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    bottom: 100%; }
  .searchLocation.open {
    display: block; }
  .searchLocation .searchLocality, .searchLocation input {
    width: 100%;
    font-size: 12px !important; }
  .searchLocation .material-icons {
    font-size: 1.8rem !important;
    color: #ffffff; }

.imgIcon {
  width: auto;
  height: 1em;
  font-size: 1.2rem;
  margin: 0.5rem; }

input:focus + .formValidMsg {
  display: none !important; }

.formValidMsg {
  bottom: -3px;
  right: 0;
  display: none;
  transform: translateY(100%);
  font-size: 0.7rem;
  z-index: 10;
  background-color: #ffffff;
  color: #ff0000 !important;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 #666;
  border: 1px solid; }
  .formValidMsg::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 5px;
    margin-top: 1px;
    border: 5px solid #ffffff;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    z-index: 1; }
  .formValidMsg::after {
    content: '';
    position: absolute;
    bottom: calc(100% + 1px);
    left: 4px;
    margin-top: 1px;
    border: 6px solid #ff0000;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent; }

.bg-defualt-pro, .mobileTitleHeader {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.mobileTitleHeader {
  background-image: url(../assets/Mob_mutton_texture.png);
  background-color: #85ef0a;
  min-height: 65px; }
  .mobileTitleHeader .openSeacrh i {
    font-size: 1.8rem; }

.colorDefualt {
  color: inherit; }
  .colorDefualt:hover {
    color: inherit;
    text-decoration: none; }

.loginRequestOtp, .loginWithPwd {
  display: none; }

@media (max-width: 991.98px) {
  .hide-md-down, .mobileHeader {
    display: none !important; }
  .p-md-down-0 {
    padding: 0; }
  .m-md-down-0 {
    margin: 0; }
  h1 {
    font-size: 1.5rem; } }

@media (max-width: 767.98px) {
  .max-w-sm-down-none {
    max-width: none; }
  .hide-md-down {
    display: none !important; }
  .flex-grow-sm-1 {
    flex-grow: 1 !important; } }

@media (max-width: 1199.98px) {
  .w-lg-down-100 {
    width: 100% !important; }
  .max-w-lg-down-none {
    max-width: none; }
  nav input[type=search] {
    margin: 10px 0 0; } }

@media (min-width: 992px) {
  .show-md-down {
    display: none !important; } }

.icon-plus, .icon-minus {
  font-size: 1.2rem; }

.placeOrderMsg {
  background-color: #f1fee1;
  border-radius: 5px; }
  .placeOrderMsg .icon-check {
    background-color: #2aac2c;
    color: #fff;
    font-size: 2rem;
    border-radius: 50%;
    padding: 4px;
    font-weight: 100;
    margin-bottom: 15px; }

.flex {
  display: flex; }

@media (max-width: 575.98px) {
  .m-b-xs-15 {
    margin-bottom: 15px; } }

.pageLoader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 111111111;
  align-items: center;
  justify-content: center;
  display: none; }
  .pageLoader.open {
    display: flex; }

/*.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  @include media-breakpoint-up(lg){
    width: 128px;
    height: 128px;
  }
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
  @include media-breakpoint-up(lg){
    border-width: 52px;
    margin: 12px;
  }
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}*/
.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px; }

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px; }

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s; }

.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px; }

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s; }

.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px; }

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s; }

.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px; }

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s; }

.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px; }

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s; }

.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px; }

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s; }

.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px; }

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s; }

.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px; }

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s; }

.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px; }

@keyframes lds-roller {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

svg {
  width: 50px;
  display: block; }

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0; }
  .path.circle {
    animation: fadeInAni .9s linear;
    stroke: #417505;
    fill: #417505; }
  .path.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check .9s .35s ease-in-out forwards;
    animation: dash-check .9s .35s ease-in-out forwards;
    stroke: #ffffff; }

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100; }
  100% {
    stroke-dashoffset: 900; } }

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100; }
  100% {
    stroke-dashoffset: 900; } }

@keyframes fadeInAni {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#loginOtp1:not(.d-none) + .resendOtpBtn, #loginOtp2:not(.d-none) + .resendOtpBtn, #loginOtp3:not(.d-none) + .resendOtpBtn, #otp:not(.d-none) + .resendOtpBtn {
  display: flex; }

.resendOtpBtn {
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }
  @media (max-width: 575.98px) {
    .resendOtpBtn {
      font-size: 0.8rem; } }

h1 {
  font-size: 1.4rem !important; }

@media (max-width: 991.98px) {
  .no-pad {
    padding: 0; } }

.scheduleDelivery {
  display: none; }

@media (max-width: 991.98px) {
  .orderPage .mobileFooterIcos {
    display: none !important; } }

.orderPage .cartPageIcon .outlineIcon {
  display: none !important; }

.orderPage .cartPageIcon .fillIcon {
  display: flex !important; }

.orderPage .loginProceed {
  min-width: 150px; }

.orderPage .accordianDisable {
  opacity: 0.8;
  pointer-events: none; }

.orderPage .successLogin {
  min-width: 20px;
  height: 20px;
  font-size: 16px !important;
  background-color: #417505;
  color: #fff;
  border-radius: 50%;
  display: none;
  align-content: center;
  align-items: center;
  justify-content: center;
  transform: none !important; }

.orderPage [aria-expanded=false] .successLogin {
  display: flex; }

.cartScreen .card-header {
  background-color: #ffffff; }
  @media (max-width: 767.98px) {
    .cartScreen .card-header {
      padding: 0; } }
  .cartScreen .card-header a {
    color: inherit;
    font-weight: 600;
    font-size: 0.9rem; }
  .cartScreen .card-header i {
    font-size: 1.4rem; }

@media (min-width: 992px) {
  .cartScreen a[aria-expanded=true] i {
    transform: rotate(90deg); } }

.cartScreen .card-body {
  background-color: #f9f9f9; }

.cartScreen textarea {
  resize: none;
  font-size: 0.9rem; }

.cartScreen .formValidMsg {
  background-color: #ff0000;
  color: #ffffff !important;
  box-shadow: none; }
  .cartScreen .formValidMsg::before {
    content: '';
    border: 5px solid #F01716;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent; }
  .cartScreen .formValidMsg::after {
    display: none; }

.paymentOptions li {
  display: flex;
  align-content: center;
  align-items: center; }

.paymentOptions i {
  font-size: 1.8rem; }

.orderSummary h4 {
  font-size: 1rem; }

.orderSummary .primaryBtnInverse, .orderSummary footer .fillIcon .cartCount, footer .fillIcon .orderSummary .cartCount {
  border-radius: 15px;
  border-width: 0; }

.orderSummary .btn.removeCartList {
  line-height: 0;
  border-radius: 50%; }

.orderSummary .btn i {
  font-size: 1.8rem;
  margin-top: 1px;
  margin-left: 1px; }

.orderSummary .qty-text {
  min-width: 60px; }

.deliveryInfo h6 {
  font-size: 0.8rem; }

@media (max-width: 767.98px) {
  .deliveryInfo a {
    font-size: 0.8rem; } }

.billInfo {
  /*font-size: 0.8rem;*/ }

.billTotal {
  font-size: 1rem;
  font-weight: 600; }

.delCharges {
  font-size: 0.9rem; }

.cartCard {
  background-color: #f9f9f9; }
  @media (max-width: 767.98px) {
    .cartCard .card-body {
      padding: 15px; } }
  .cartCard figure {
    width: 140px; }
    @media (max-width: 767.98px) {
      .cartCard figure {
        width: 120px; } }
  .cartCard .card-title {
    font-size: 1rem; }
  .cartCard .rate {
    font-size: 0.8rem;
    white-space: nowrap; }

@media (max-width: 991.98px) {
  .cartInfo .actionBtns {
    top: 10px;
    right: 10px; } }

@media (max-width: 767.98px) {
  .cartInfo {
    padding-left: 10px;
    padding-right: 10px; } }

.createAccount {
  display: none; }
  .createAccount .cols {
    flex-direction: column; }
    @media (min-width: 768px) {
      .createAccount .cols {
        flex-direction: row; } }
    @media (min-width: 992px) {
      .createAccount .cols {
        flex-direction: column; } }
    @media (min-width: 1200px) {
      .createAccount .cols {
        flex-direction: row; } }

.dateSlot {
  background-color: #F4F4F4;
  padding: 8px;
  flex-grow: 1; }
  @media (max-width: 767.98px) {
    .dateSlot {
      width: 60px;
      max-width: 60px; } }
  .dateSlot.active .date {
    background-color: #F01716;
    color: #ffffff; }
  .dateSlot .month {
    font-size: 0.7rem;
    font-weight: 600; }
  .dateSlot .date {
    font-size: 0.7rem;
    width: 2.5em;
    height: 2.5em;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 5px;
    margin: 5px 0;
    display: inline-flex;
    align-content: center;
    align-items: center;
    justify-content: center; }
  .dateSlot .week {
    font-size: 0.6rem; }

.deliveryTimes .timeSlot {
  font-size: 0.6rem;
  padding: 3px 15px;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid #F4F4F4; }
  .deliveryTimes .timeSlot.active {
    background-color: #F01716;
    border-color: #F01716;
    color: #ffffff; }
  .deliveryTimes .timeSlot.disabled {
    opacity: 0.4;
    border-color: lightgray;
    cursor: not-allowed; }

@media (max-width: 767.98px) {
  .btn, input {
    font-size: 0.8rem !important; } }

@media (max-width: 575.98px) {
  .mobilePage {
    padding-top: 15px; } }

.mobilePage h1 {
  font-size: 1.2rem; }

.mobilePage h2 {
  font-size: 1.2rem; }

.mobilePage h4 {
  font-size: 1rem; }

.mobilePage .orderSummaryInfo .smallText {
  font-size: 0.8rem; }

.mobilePage .orderSummaryInfo .price {
  font-weight: 600; }

.mobilePage .card-body {
  background-color: #ffffff; }
  .mobilePage .card-body input[type=radio] {
    transform: scale(1.5) translateY(3px);
    min-width: 13px;
    min-height: 13px; }
  .mobilePage .card-body label {
    font-size: 0.8rem; }

.mobilePage .p-title {
  display: flex; }
  @media (max-width: 991.98px) {
    .mobilePage .p-title {
      margin-bottom: 20px; } }

.mobilePage .deliveryCard:not(.active), .mobilePage .previewCard:not(.active) {
  display: none; }

.mobilePage .deliveryCard.hide, .mobilePage .previewCard.hide {
  display: none; }

.mobilePage .paymentCard {
  font-size: 0.9rem; }
  .mobilePage .paymentCard:not(.active) {
    display: none; }
  .mobilePage .paymentCard .btn {
    border-color: #dbdbdb; }

.codeApplied {
  display: none; }
  .codeApplied i {
    font-size: 1.4rem; }

#otpScreen {
  display: none; }

.pwd-error, .form-error {
  color: red; }

#paymentCollapse .imgIcon, .deliverImgBtn .imgIcon, .paymentCard .imgIcon {
  font-size: 4rem; }

#deliveryCollapse input[type=radio] {
  transform: scale(1.3) translateY(2px); }

#deliveryCollapse .label2 {
  transform: translateY(-9px); }

.deliverBtns .deliverImgBtn button.active {
  opacity: 1; }

.deliverBtns .deliverImgBtn button:not(.active) {
  opacity: 0.6;
  border-color: #dbdbdb; }
  .deliverBtns .deliverImgBtn button:not(.active) + span {
    opacity: 0.6; }

.socialLogins .item {
  width: 48%; }
  .socialLogins .item .btn {
    height: 45px;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: 0.7rem; }
  .socialLogins .item span {
    font-size: 1.8rem; }

.socialLogins .facebook {
  background-color: #2b3c64; }

.socialLogins .gplus {
  background-color: #dc412c; }

.paymentBtn:not(.active) {
  border-color: #dbdbdb; }

@media (max-width: 575.98px) {
  .header {
    margin-bottom: 0; }
  .cartCard .qtyPrc {
    padding: 5px 5px 10px; }
    .cartCard .qtyPrc .smallText {
      min-width: 70px; }
  .orderSummary {
    justify-content: flex-end; }
    .orderSummary .actionBtns {
      width: 50%;
      margin-top: 15px; } }

.charges-con .cartTotal {
  font-size: 1.1rem;
  font-weight: 600; }
  @media (max-width: 575.98px) {
    .charges-con .cartTotal {
      font-size: 1rem; } }

.cartDetailInfo .delMsg {
  font-weight: 600; }
  .cartDetailInfo .delMsg .imgIcon {
    font-size: 5.5rem; }

@media (max-width: 575.98px) {
  .cartDetailInfo .delCharges {
    font-size: 0.9rem; } }

.cartDetailInfo .proceedAction {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100; }
  .cartDetailInfo .proceedAction .btn {
    padding: 15px;
    margin: 0;
    font-size: 1.1rem !important;
    border-radius: 0; }

.mob-cart-items .removeCartList {
  line-height: 0;
  border-radius: 50%;
  border: none; }
  .mob-cart-items .removeCartList i {
    font-size: 1.8rem;
    margin-top: 1px;
    margin-left: 1px; }
    @media (max-width: 767.98px) {
      .mob-cart-items .removeCartList i {
        font-size: 1.3rem; } }

.dummy-con {
  padding-bottom: 80px; }

.promo-error {
  color: red;
  font-size: 13px; }

.available-promos {
  border: 1px solid lightgray; }
