@import "https://fonts.googleapis.com/css?family=Poppins";
.m-100 {
    margin: 100px
}

.p-100 {
    padding: 100px
}

.m-t-100 {
    margin-top: 100px
}

.m-b-100 {
    margin-bottom: 100px
}

.m-l-100 {
    margin-left: 100px
}

.m-r-100 {
    margin-right: 100px
}

.p-t-100 {
    padding-top: 100px
}

.p-b-100 {
    padding-bottom: 100px
}

.p-l-100 {
    padding-left: 100px
}

.p-r-100 {
    padding-right: 100px
}

.m-95 {
    margin: 95px
}

.p-95 {
    padding: 95px
}

.m-t-95 {
    margin-top: 95px
}

.m-b-95 {
    margin-bottom: 95px
}

.m-l-95 {
    margin-left: 95px
}

.m-r-95 {
    margin-right: 95px
}

.p-t-95 {
    padding-top: 95px
}

.p-b-95 {
    padding-bottom: 95px
}

.p-l-95 {
    padding-left: 95px
}

.p-r-95 {
    padding-right: 95px
}

.m-90 {
    margin: 90px
}

.p-90 {
    padding: 90px
}

.m-t-90 {
    margin-top: 90px
}

.m-b-90 {
    margin-bottom: 90px
}

.m-l-90 {
    margin-left: 90px
}

.m-r-90 {
    margin-right: 90px
}

.p-t-90 {
    padding-top: 90px
}

.p-b-90 {
    padding-bottom: 90px
}

.p-l-90 {
    padding-left: 90px
}

.p-r-90 {
    padding-right: 90px
}

.m-85 {
    margin: 85px
}

.p-85 {
    padding: 85px
}

.m-t-85 {
    margin-top: 85px
}

.m-b-85 {
    margin-bottom: 85px
}

.m-l-85 {
    margin-left: 85px
}

.m-r-85 {
    margin-right: 85px
}

.p-t-85 {
    padding-top: 85px
}

.p-b-85 {
    padding-bottom: 85px
}

.p-l-85 {
    padding-left: 85px
}

.p-r-85 {
    padding-right: 85px
}

.m-80 {
    margin: 80px
}

.p-80 {
    padding: 80px
}

.m-t-80 {
    margin-top: 80px
}

.m-b-80 {
    margin-bottom: 80px
}

.m-l-80 {
    margin-left: 80px
}

.m-r-80 {
    margin-right: 80px
}

.p-t-80 {
    padding-top: 80px
}

.p-b-80 {
    padding-bottom: 80px
}

.p-l-80 {
    padding-left: 80px
}

.p-r-80 {
    padding-right: 80px
}

.m-75 {
    margin: 75px
}

.p-75 {
    padding: 75px
}

.m-t-75 {
    margin-top: 75px
}

.m-b-75 {
    margin-bottom: 75px
}

.m-l-75 {
    margin-left: 75px
}

.m-r-75 {
    margin-right: 75px
}

.p-t-75 {
    padding-top: 75px
}

.p-b-75 {
    padding-bottom: 75px
}

.p-l-75 {
    padding-left: 75px
}

.p-r-75 {
    padding-right: 75px
}

.m-70 {
    margin: 70px
}

.p-70 {
    padding: 70px
}

.m-t-70 {
    margin-top: 70px
}

.m-b-70 {
    margin-bottom: 70px
}

.m-l-70 {
    margin-left: 70px
}

.m-r-70 {
    margin-right: 70px
}

.p-t-70 {
    padding-top: 70px
}

.p-b-70 {
    padding-bottom: 70px
}

.p-l-70 {
    padding-left: 70px
}

.p-r-70 {
    padding-right: 70px
}

.m-65 {
    margin: 65px
}

.p-65 {
    padding: 65px
}

.m-t-65 {
    margin-top: 65px
}

.m-b-65 {
    margin-bottom: 65px
}

.m-l-65 {
    margin-left: 65px
}

.m-r-65 {
    margin-right: 65px
}

.p-t-65 {
    padding-top: 65px
}

.p-b-65 {
    padding-bottom: 65px
}

.p-l-65 {
    padding-left: 65px
}

.p-r-65 {
    padding-right: 65px
}

.m-60 {
    margin: 60px
}

.p-60 {
    padding: 60px
}

.m-t-60 {
    margin-top: 60px
}

.m-b-60 {
    margin-bottom: 60px
}

.m-l-60 {
    margin-left: 60px
}

.m-r-60,
header .nav-item {
    margin-right: 60px
}

.p-t-60,
.custSideNavContent .sideNavBody {
    padding-top: 60px
}

.p-b-60 {
    padding-bottom: 60px
}

.p-l-60 {
    padding-left: 60px
}

.p-r-60 {
    padding-right: 60px
}

.m-55 {
    margin: 55px
}

.p-55 {
    padding: 55px
}

.m-t-55 {
    margin-top: 55px
}

.m-b-55 {
    margin-bottom: 55px
}

.m-l-55 {
    margin-left: 55px
}

.m-r-55 {
    margin-right: 55px
}

.p-t-55 {
    padding-top: 55px
}

.p-b-55 {
    padding-bottom: 55px
}

.p-l-55 {
    padding-left: 55px
}

.p-r-55 {
    padding-right: 55px
}

.m-50 {
    margin: 50px
}

.p-50 {
    padding: 50px
}

.m-t-50 {
    margin-top: 50px
}

.m-b-50 {
    margin-bottom: 50px
}

.m-l-50 {
    margin-left: 50px
}

.m-r-50,
.navbar-brand {
    margin-right: 50px
}

.p-t-50 {
    padding-top: 50px
}

.p-b-50,
.footerCon {
    padding-bottom: 50px
}

.p-l-50 {
    padding-left: 50px
}

.p-r-50 {
    padding-right: 50px
}

.m-45 {
    margin: 45px
}

.p-45 {
    padding: 45px
}

.m-t-45 {
    margin-top: 45px
}

.m-b-45 {
    margin-bottom: 45px
}

.m-l-45 {
    margin-left: 45px
}

.m-r-45 {
    margin-right: 45px
}

.p-t-45 {
    padding-top: 45px
}

.p-b-45 {
    padding-bottom: 45px
}

.p-l-45 {
    padding-left: 45px
}

.p-r-45 {
    padding-right: 45px
}

.m-40 {
    margin: 40px
}

.p-40,
.productDetailInfo .innerCon {
    padding: 40px
}

.m-t-40 {
    margin-top: 40px
}

.m-b-40 {
    margin-bottom: 40px
}

.m-l-40 {
    margin-left: 40px
}

.m-r-40 {
    margin-right: 40px
}

.p-t-40 {
    padding-top: 40px
}

.p-b-40 {
    padding-bottom: 40px
}

.p-l-40 {
    padding-left: 40px
}

.p-r-40,
header .navbar input[type=search] {
    padding-right: 40px
}

.m-35 {
    margin: 35px
}

.p-35 {
    padding: 35px
}

.m-t-35 {
    margin-top: 35px
}

.m-b-35 {
    margin-bottom: 35px
}

.m-l-35 {
    margin-left: 35px
}

.m-r-35 {
    margin-right: 35px
}

.p-t-35 {
    padding-top: 35px
}

.p-b-35 {
    padding-bottom: 35px
}

.p-l-35 {
    padding-left: 35px
}

.p-r-35 {
    padding-right: 35px
}

.m-30 {
    margin: 30px
}

.p-30,
.custSideNavContent .sideNavHeader {
    padding: 30px
}

.m-t-30,
#loginSideNav .socialLoginTitle,
#mobileUpdateSideNav .socialLoginTitle {
    margin-top: 30px
}

.m-b-30,
.custSideNavContent .chooseItem,
.productCard,
.filterCon,
.prodRight h2,
.productDetailInfo .h3 {
    margin-bottom: 30px
}

.m-l-30 {
    margin-left: 30px
}

.m-r-30,
.filterCon li {
    margin-right: 30px
}

.p-t-30,
.footerCon {
    padding-top: 30px
}

.p-b-30,
.custSideNavContent .sideNavBody {
    padding-bottom: 30px
}

.p-l-30,
.custSideNavContent .sideNavBody {
    padding-left: 30px
}

.p-r-30,
.custSideNavContent .sideNavBody {
    padding-right: 30px
}

.m-25 {
    margin: 25px
}

.p-25 {
    padding: 25px
}

.m-t-25 {
    margin-top: 25px
}

.m-b-25 {
    margin-bottom: 25px
}

.m-l-25 {
    margin-left: 25px
}

.m-r-25 {
    margin-right: 25px
}

.p-t-25 {
    padding-top: 25px
}

.p-b-25 {
    padding-bottom: 25px
}

.p-l-25,
.productDetailInfo .listItems {
    padding-left: 25px
}

.p-r-25 {
    padding-right: 25px
}

.m-20 {
    margin: 20px
}

.p-20,
.prodRight {
    padding: 20px
}

.m-t-20,
#loginSideNav .createNew,
#mobileUpdateSideNav .createNew {
    margin-top: 20px
}

.m-b-20,
#loginSideNav .createNew,
#mobileUpdateSideNav .createNew,
.productDetailInfo .listItems li,
.productDetailInfo .rightImg .imgCon {
    margin-bottom: 20px
}

.m-l-20,
.footerCon .socialLinks i {
    margin-left: 20px
}

.m-r-20,
.footerCon .socialLinks i {
    margin-right: 20px
}

.p-t-20,
header .navbar,
#loginSideNav .sideNavBody,
#mobileUpdateSideNav .sideNavBody {
    padding-top: 20px
}

.p-b-20,
header .navbar {
    padding-bottom: 20px
}

.p-l-20,
header .navbar input[type=search],
.mobileTitleHeader,
.productViewPage .mobileHeader {
    padding-left: 20px
}

.p-r-20,
.mobileTitleHeader,
.productViewPage .mobileHeader {
    padding-right: 20px
}

.m-15 {
    margin: 15px
}

.p-15,
.checkOutModal,
.alertModal,
#locationModal,
.searchLocation,
.placeOrderMsg {
    padding: 15px
}

.m-t-15 {
    margin-top: 15px
}

.m-b-15,
.custSideNavContent .sideNavBody .sideNavBodyTitle,
svg,
.prodRight .comboItem {
    margin-bottom: 15px
}

.m-l-15,
header .navbar input[type=search] {
    margin-left: 15px
}

.m-r-15,
#loginSideNav .socialLogins .item span:first-child,
#mobileUpdateSideNav .socialLogins .item span:first-child {
    margin-right: 15px
}

.p-t-15 {
    padding-top: 15px
}

.p-b-15 {
    padding-bottom: 15px
}

.p-l-15,
.prodRight .comboItem::after {
    padding-left: 15px
}

.p-r-15,
.prodRight .comboItem::after {
    padding-right: 15px
}

.m-10 {
    margin: 10px
}

.p-10,
.footerCon .socialLinks i {
    padding: 10px
}

.m-t-10,
#loginSideNav .socialLogins,
#mobileUpdateSideNav .socialLogins,
.searchLocation,
.prodRight .comboItem figcaption,
.prodRight .totalCombo .addBtn,
.itemPros,
.itemPros .item figcaption {
    margin-top: 10px
}

.m-b-10,
.custSideNavContent .chooseItem img,
.itemPros {
    margin-bottom: 10px
}

.m-l-10 {
    margin-left: 10px
}

.m-r-10,
.divider-r,
button.addToCart.added i,
.filterCon li.activeFilter i {
    margin-right: 10px
}

.p-t-10,
.mobileTitleHeader,
.productViewPage .mobileHeader {
    padding-top: 10px
}

.p-b-10,
.mobileTitleHeader,
.productViewPage .mobileHeader {
    padding-bottom: 10px
}

.p-l-10 {
    padding-left: 10px
}

.p-r-10,
.divider-r {
    padding-right: 10px
}

.m-5 {
    margin: 5px
}

.p-5 {
    padding: 5px
}

.m-t-5 {
    margin-top: 5px
}

.m-b-5 {
    margin-bottom: 5px
}

.m-l-5 {
    margin-left: 5px
}

.m-r-5 {
    margin-right: 5px
}

.p-t-5,
header {
    padding-top: 5px
}

.p-b-5 {
    padding-bottom: 5px
}

.p-l-5 {
    padding-left: 5px
}

.p-r-5 {
    padding-right: 5px
}

.m-0,
.productCard figure {
    margin: 0
}

.p-0 {
    padding: 0
}

.m-t-0 {
    margin-top: 0
}

.m-b-0 {
    margin-bottom: 0
}

.m-l-0 {
    margin-left: 0
}

.m-r-0 {
    margin-right: 0
}

.p-t-0 {
    padding-top: 0
}

.p-b-0 {
    padding-bottom: 0
}

.p-l-0 {
    padding-left: 0
}

.p-r-0 {
    padding-right: 0
}

* {
    box-sizing: border-box;
    font-family: poppins
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #f4f4f4
}

.bodyBgColor {
    background-color: #f4f4f4
}

.p-static {
    position: static
}

.p-static-imp {
    position: static!important
}

.p-relative,
header .divider-r,
footer,
.custSideNavContent .sideNavHeader,
.locationCon,
.form-group,
.productCard .prodImgCon,
.productCard figure,
.filterCon li,
.productDetailInfo .listItems li,
.productDetailInfo .rightImg .imgCon {
    position: relative
}

.p-absolute,
header .divider-r:after,
header .openSeacrh:hover .form-inline,
.cartCount,
.custSideNavContent .sideNavHeader .sideNavtitle,
.closeSideNav,
.closeIcon,
.searchLocation,
.formValidMsg,
.resendOtpBtn,
.productCard .card-img-top,
.productCard figure .offers,
.productDetailInfo .listItems li::before,
.productDetailInfo .rightImg .imgCon:after,
.productDetailInfo .rightImg img,
.productDetailInfo .rightImg .playIcon {
    position: absolute
}

.w-150px {
    width: 150px
}

.font-w600,
#loginSideNav .socialLogins .item span:first-child,
#mobileUpdateSideNav .socialLogins .item span:first-child,
.filterCon li,
.prodRight .comboItem figcaption,
.prodRight .comboItem::after,
.prodRight .totalCombo .price,
.productDetailInfo .rightImg figcaption {
    font-weight: 600
}

.font-w900 {
    font-weight: 900
}

.font-w300 {
    font-weight: 300
}

.whiteSpace-nw {
    white-space: nowrap
}

.bg-trasparent {
    background-color: transparent
}

.border-0 {
    border-width: 0
}

.primaryBtn,
.cartCount {
    background-color: #f01716;
    color: #fff
}

.primaryTextColor {
    color: #f01716
}

.primaryBtnInverse,
footer .fillIcon .cartCount {
    background-color: #fff;
    color: #f01716;
    border: 1px solid #f01716;
    font-weight: 600
}

.secondaryTextColor,
.successTextColor {
    color: #2aac2c
}

.errorTextColor {
    color: red
}

.successBtn {
    background-color: #417505;
    color: #fff
}

.successBtnInverse,
button.addToCart.added {
    background-color: #fff;
    color: #417505;
    border: 1px solid #417505;
    font-weight: 600
}

.pointer,
.footerCon .socialLinks i,
.locationText,
.productDetailInfo .rightImg .playIcon {
    cursor: pointer
}

.bg-white,
.productDetailInfo .innerCon {
    background-color: #fff
}

.white-text,
#loginSideNav .socialLogins .closeSideNav,
#mobileUpdateSideNav .socialLogins .closeSideNav {
    color: #fff!important
}

header {
    background-color: #2c9940;
}

.cwhite{
    color:#fff !important;
}
@media(max-width:991.98px) {
    header {
        padding-top: 0
    }
}

header .phoneNum {
    font-weight: 600
}

header .phoneNum i {
    font-size: 1.8rem!important;
    text-shadow: 1px 0 0 #000;
    margin-right: 5px
}

header .phoneNum a {
    color: inherit
}

header .divider-r {
    border-width: 0
}

header .divider-r:after {
    content: '';
    border-right: 1px solid #cecece;
    right: 0;
    top: 10px;
    bottom: 10px;
    font-weight: 100;
    color: #ccc;
    transform: scaleY(1.1)
}

header .navbar input[type=search] {
    border-radius: 20px;
    font-size: 1rem
}

@media(min-width:992px) {
    header .navbar input[type=search] {
        border-radius: 25px
    }
}

header .navbar .material-icons {
    font-size: 1.3rem
}

header .nav-item a {
    color: inherit;
    font-weight: 600;
    text-transform: capitalize
}

header .nav-item .active {
    color: #f01716;
    border-bottom: 1px solid #f01716
}

header .container-fluid {
    border-bottom: 1px solid #f4f4f4
}

header .openSeacrh .form-inline {
    display: none
}

header .openSeacrh:hover .form-inline {
    display: block;
    left: 8px;
    right: 8px
}

header .openSeacrh:hover input {
    border-radius: 30px;
    padding: 12px 65px 12px 12px
}

header .openSeacrh i {
    font-size: 2rem
}

header .phone-icon i {
    font-size: 2rem
}

@media(min-width:1200px) {
    header .searchBarCon {
        max-width: 400px
    }
}

header .searchInBtn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-width: 0;
    border-radius: 0 25px 25px 0;
    background-color: transparent
}

header .searchInBtn:hover {
    background-color: transparent;
    color: inherit
}

header .searchInBtn:focus {
    outline: none;
    background-color: transparent;
    border-width: 0;
    box-shadow: none
}

header .searchInBtn i {
    color: inherit!important
}

.nav.mobile-nav {
    overflow-x: auto;
    flex-wrap: nowrap;
    background-color: #fff
}

.nav.mobile-nav a {
    color: inherit;
    font-size: .8rem
}

.nav.mobile-nav .active {
    color: #f01716;
    border-bottom: 1px solid #f01716
}

.cartCount {
    right: -10px;
    top: -10px;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    font-size: .7rem
}

.navbar-brand {
    width: 125px
}

.flex-grow-1,
.itemPros .item {
    flex-grow: 1!important
}

.overflow-h,
.productCard .prodImgCon,
.productDetailInfo .rightImg .imgCon {
    overflow: hidden
}

.profileMenu .dropdown-menu {
    left: auto;
    right: 0;
    font-size: .85rem
}

.smallLabel {
    font-size: .8rem;
    font-weight: 400
}

.smallText {
    font-size: .8rem
}

.condition-text {
    font-size: .6rem
}

.divider-r {
    border-right: 1px solid #c1c1c1
}

.divider-b {
    border-bottom: 1px solid #c1c1c1
}

.divider-t {
    border-top: 1px solid #c1c1c1
}

.rupee {
    font-family: initial
}

footer {
    z-index: 2
}

footer .cartCount {
    right: 0;
    top: 0
}

.seoCon .container-fluid {
    width: 90%
}

.seoCon h1 {
    font-size: 1.1rem!important;
    margin-bottom: 10px
}

.seoCon .page-desc {
    font-size: .8rem;
    color: #929292;
    line-height: 20px
}

.footerCon {
    background-color: #000;
    color: #fff
}

@media(min-width:992px) {
    .footerCon {
        padding-top: 50px
    }
}

.footerCon li a {
    color: inherit
}

@media(min-width:992px) {
    .footerCon .container-fluid {
        width: 90%
    }
}

.footerCon h3 {
    font-size: 1.2rem
}

@media(max-width:1199.98px) {
    .footerCon h3 {
        font-size: 1rem
    }
}

@media(max-width:991.98px) {
    .footerCon h3 {
        font-size: 1.2rem
    }
}

@media(max-width:767.98px) {
    .footerCon .deliverySlots li {
        width: 50%
    }
}

.footerCon .socialLinks i {
    font-size: 1.8rem;
    border: 1px solid;
    border-radius: 50%;
    width: 1.8em;
    height: 1.8em;
    text-align: center
}

.footerCon .col-cust {
    font-size: .9rem
}

@media(max-width:1199.98px) {
    .footerCon .col-cust {
        flex-basis: 25%;
        max-width: 25%
    }
}

@media(max-width:991.98px) {
    .footerCon .col-cust {
        flex-basis: 50%;
        max-width: 50%
    }
}

@media(max-width:767.98px) {
    .footerCon .col-cust {
        flex-basis: 100%;
        max-width: 100%
    }
}

.custSideNavContent {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 400px;
    max-width: 100%;
    z-index: 1000;
    transform: translateX(100%);
    transition: .5s transform;
    background-color: #fff
}

@media(max-width:991.98px) {
    .custSideNavContent {
        transform: translateY(100%);
        width: 100%;
        top: auto;
        max-height: 100%;
        overflow: auto
    }
}

.custSideNavContent.open {
    transform: translateX(0%)
}

@media(max-width:991.98px) {
    .custSideNavContent.open {
        transform: translateY(0%)
    }
}

.custSideNavContent .sideNavHeader {
    height: 25%;
    max-height: 200px
}

@media(max-width:991.98px) {
    .custSideNavContent .sideNavHeader {
        display: none!important
    }
}

.custSideNavContent .sideNavHeader img {
    height: 100%;
    width: auto
}

.custSideNavContent .sideNavHeader .sideNavtitle {
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: rgba(36, 106, 119, .7);
    color: #fff;
    font-size: 1.4rem
}

.custSideNavContent .sideNavBody {
    height: 75%;
    overflow: auto
}

@media(max-width:991.98px) {
    .custSideNavContent .sideNavBody {
        height: auto;
        padding: 20px
    }
    .custSideNavContent .sideNavBody .closeSideNav {
        right: 8px;
        top: 8px
    }
}

.custSideNavContent .sideNavBody::-webkit-scrollbar {
    width: 5px
}

.custSideNavContent .sideNavBody::-webkit-scrollbar-track {
    background: #f1f1f1
}

.custSideNavContent .sideNavBody::-webkit-scrollbar-thumb {
    background: #888
}

.custSideNavContent .sideNavBody::-webkit-scrollbar-thumb:hover {
    background: #555
}

.custSideNavContent .sideNavBody .sideNavBodyTitle {
    font-size: 1.2rem;
    text-align: center;
    color: #9b9b9b
}

@media(max-width:767.98px) {
    .custSideNavContent .sideNavBody .sideNavBodyTitle {
        font-size: 1rem
    }
}

.custSideNavContent .chooseItem {
    text-align: center;
    cursor: pointer
}

@media(max-width:991.98px) {
    .custSideNavContent .chooseItem {
        margin-bottom: 0
    }
}

.custSideNavContent .chooseItem img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%
}

.custSideNavContent .chooseItem figcaption {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #9b9b9b
}

#loginSideNav,
#mobileUpdateSideNav {
    background: #000;
    z-index: 1002
}

#loginSideNav .loginLocation,
#mobileUpdateSideNav .loginLocation {
    margin: -10px -20px 10px;
    padding-left: 20px
}

#loginSideNav .sideNavHeader,
#mobileUpdateSideNav .sideNavHeader {
    height: 15%;
    padding-bottom: 0
}

#loginSideNav .sideNavBody,
#mobileUpdateSideNav .sideNavBody {
    height: 85%
}

#loginSideNav a,
#loginSideNav p,
#loginSideNav span,
#mobileUpdateSideNav a,
#mobileUpdateSideNav p,
#mobileUpdateSideNav span {
    color: #f4f4f4
}

#loginSideNav .createNew,
#mobileUpdateSideNav .createNew {
    display: block;
    font-size: .9rem;
    border: 1px #fff solid;
    width: 200px;
    align-self: center;
    color: #fff;
    padding: 8px 10px;
    margin: 15px 0 5px
}

#loginSideNav img,
#mobileUpdateSideNav img {
    height: 70%;
    width: auto
}

#loginSideNav .sideNavBodyTitle,
#mobileUpdateSideNav .sideNavBodyTitle {
    text-align: left;
    font-size: 1.1rem
}

#loginSideNav .socialLoginTitle,
#mobileUpdateSideNav .socialLoginTitle {
    font-size: .8rem
}

@media(max-width:991.98px) {
    #loginSideNav .socialLoginTitle,
    #mobileUpdateSideNav .socialLoginTitle {
        margin-top: 15px
    }
}

@media(max-width:767.98px) {
    #loginSideNav .socialLogins,
    #mobileUpdateSideNav .socialLogins {
        flex-wrap: wrap
    }
}

#loginSideNav .socialLogins .item,
#mobileUpdateSideNav .socialLogins .item {
    width: 48%
}

#loginSideNav .socialLogins .item .btn,
#mobileUpdateSideNav .socialLogins .item .btn {
    height: 45px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-size: .7rem
}

#loginSideNav .socialLogins .item span:first-child,
#mobileUpdateSideNav .socialLogins .item span:first-child {
    font-size: 1.8rem
}

#loginSideNav .socialLogins .facebook,
#mobileUpdateSideNav .socialLogins .facebook {
    background-color: #2b3c64
}

#loginSideNav .socialLogins .gplus,
#mobileUpdateSideNav .socialLogins .gplus {
    background-color: #dc412c
}

.wrapText {
    white-space: pre-wrap
}

@media(max-width:575.98px) {
    .wrapText.btn {
        font-size: .8rem
    }
}

.closeSideNav,
.closeIcon {
    right: 5px;
    top: 5px;
    z-index: 1;
    color: #9b9b9b;
    cursor: pointer
}

.closeSideNav i,
.closeIcon i {
    font-size: 1.8rem
}

@media(max-width:991.98px) {
    .closeSideNav i,
    .closeIcon i {
        font-size: 1rem
    }
}

.bgOverlay,
.bgProductOverlay,
.searchBgOverlay {
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    display: none
}

.mobileFooterIcos {
    height: 60px
}

.mobileFooterIcos>ul {
    border-top: 1px solid #dbdbdb;
    position: fixed;
    height: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff
}

.mobileFooterIcos>ul .nav-link {
    color: #f01716;
    display: flex;
    align-items: center
}

.mobileFooterIcos>ul i {
    font-size: 2.1rem
}

.mobileFooterIcos>ul i.icon-home-house-streamline,
.mobileFooterIcos>ul i.icon-user-outline,
.mobileFooterIcos>ul i.icon-user {
    font-size: 2rem
}

.mobileFooterIcos>ul i.icon-home-house-streamline:before {
    font-weight: 900!important
}

.mobileFooterIcos .nav-item {
    max-height: 56px
}

footer .mobileFooterIcos .fillIcon {
    display: none
}

.icon2x {
    font-size: 130%
}

.h1 {
    font-size: 1.6rem
}

.h2 {
    font-size: 1.4rem
}

.h3 {
    font-size: 1rem
}

.h4 {
    font-size: .9rem
}

.t-center,
#loginSideNav .createNew,
#mobileUpdateSideNav .createNew,
.itemPros .item {
    text-align: center
}

.t-left {
    text-align: left
}

.t-right {
    text-align: right
}

.l-h-1 {
    line-height: 1
}

.l-h-0 {
    line-height: 0
}

.btn-focus-none:focus {
    outline: none
}

.checkOutModal,
.alertModal {
    background-color: #e5fdc9;
    border-top: 1px solid #417505;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: .5s transform;
    z-index: 1001
}

.checkOutModal.open,
.alertModal.open {
    transform: translateY(0%)
}

.checkOutModal .closeIcon i,
.alertModal .closeIcon i {
    font-size: 1.1rem;
    background-color: transparent;
    color: #000;
    min-width: 20px;
    height: 20px
}

@media(max-width:767.98px) {
    .checkOutModal .checkOutInner,
    .alertModal .checkOutInner {
        font-size: .9rem
    }
}

@media(max-width:767.98px) and (max-width:575.98px) {
    .checkOutModal .checkOutInner,
    .alertModal .checkOutInner {
        font-size: .8rem
    }
}

@media(max-width:767.98px) {
    .checkOutModal .checkOutInner .h5,
    .alertModal .checkOutInner .h5 {
        font-size: 1rem
    }
}

@media(max-width:767.98px) and (max-width:575.98px) {
    .checkOutModal .checkOutInner .h5,
    .alertModal .checkOutInner .h5 {
        font-size: .8rem
    }
}

.checkOutModal i,
.alertModal i {
    min-width: 35px;
    max-width: 35px;
    height: 35px;
    background-color: #417505;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center
}

@media(max-width:575.98px) {
    .checkOutModal i,
    .alertModal i {
        min-width: 25px;
        max-width: 25px;
        height: 25px
    }
}

.checkOutModal button,
.alertModal button {
    min-width: 200px;
    max-width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 0
}

@media(max-width:767.98px) {
    .checkOutModal button,
    .alertModal button {
        min-width: 0;
        padding: 5px 15px;
        border-radius: 5px
    }
    .checkOutModal button.successBtn,
    .alertModal button.successBtn {
        font-size: 1rem
    }
}

@media(max-width:767.98px) and (max-width:575.98px) {
    .checkOutModal button.successBtn,
    .alertModal button.successBtn {
        font-size: .85rem
    }
}

#locationModal {
    background-color: #fff;
    box-shadow: 0 -1px 19px 1px #c4b7b7;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(calc(100% + 20px));
    transition: .5s transform;
    z-index: 1000
}

#locationModal.open {
    transform: translateY(0%)
}

@media(max-width:767.98px) {
    #locationModal .checkOutInner {
        flex-direction: column
    }
}

@media(max-width:767.98px) {
    #locationModal .checkOutInner>div {
        width: 100%
    }
}

#locationModal .message {
    font-size: 1.1rem;
    color: #417505
}

#locationModal input {
    height: 50px;
    background-color: #f4f4f4
}

#locationModal .invalid-location {
    font-size: 14px;
    color: red;
    display: none;
    line-height: 1.5
}

.alertModal.error {
    background-color: #fff;
    border-top: 1px solid red
}

.alertModal.error .successBtn {
    background-color: red
}

button.addToCart i {
    display: none
}

button.addToCart.added {
    display: flex;
    align-items: center;
    justify-content: space-around
}

button.addToCart.added i {
    min-width: 20px;
    height: 20px;
    font-size: 16px;
    background-color: #417505;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center
}

.createAccount,
.otpScreen {
    display: none
}

.locationText {
    font-weight: 100;
    color: #2aac2c;
    max-width: 120px
}

.searchLocation {
    top: 100%;
    width: 400px;
    z-index: 11;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f01716;
    color: #fff;
    border-radius: 5px;
    display: none
}

.searchLocation:before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid #f01716;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    bottom: 100%
}

.searchLocation.open {
    display: block
}

.searchLocation .searchLocality,
.searchLocation input {
    width: 100%;
    font-size: 12px!important
}

.searchLocation .material-icons {
    font-size: 1.8rem!important;
    color: #fff
}

.imgIcon {
    width: auto;
    height: 1em;
    font-size: 1.2rem;
    margin: .5rem
}

input:focus+.formValidMsg {
    display: none!important
}

.formValidMsg {
    bottom: -3px;
    right: 0;
    display: none;
    transform: translateY(100%);
    font-size: .7rem;
    z-index: 10;
    background-color: #fff;
    color: red!important;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 #666;
    border: 1px solid
}

.formValidMsg::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 5px;
    margin-top: 1px;
    border: 5px solid #fff;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    z-index: 1
}

.formValidMsg::after {
    content: '';
    position: absolute;
    bottom: calc(100% + 1px);
    left: 4px;
    margin-top: 1px;
    border: 6px solid red;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent
}

.bg-defualt-pro,
.mobileTitleHeader {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

.mobileTitleHeader {
    background-image: url(../assets/Mob_mutton_texture.png);
    background-color: #85ef0a;
    min-height: 65px
}

.mobileTitleHeader .openSeacrh i {
    font-size: 1.8rem
}

.colorDefualt {
    color: inherit
}

.colorDefualt:hover {
    color: inherit;
    text-decoration: none
}

.loginRequestOtp,
.loginWithPwd {
    display: none
}

@media(max-width:991.98px) {
    .hide-md-down,
    .mobileHeader {
        display: none!important
    }
    .p-md-down-0 {
        padding: 0
    }
    .m-md-down-0 {
        margin: 0
    }
    h1 {
        font-size: 1.5rem
    }
}

@media(max-width:767.98px) {
    .max-w-sm-down-none {
        max-width: none
    }
    .hide-md-down {
        display: none!important
    }
    .flex-grow-sm-1 {
        flex-grow: 1!important
    }
}

@media(max-width:1199.98px) {
    .w-lg-down-100 {
        width: 100%!important
    }
    .max-w-lg-down-none {
        max-width: none
    }
    nav input[type=search] {
        margin: 10px 0 0
    }
}

@media(min-width:992px) {
    .show-md-down {
        display: none!important
    }
}

.icon-plus,
.icon-minus {
    font-size: 1.2rem
}

.placeOrderMsg {
    background-color: #f1fee1;
    border-radius: 5px
}

.placeOrderMsg .icon-check {
    background-color: #2aac2c;
    color: #fff;
    font-size: 2rem;
    border-radius: 50%;
    padding: 4px;
    font-weight: 100;
    margin-bottom: 15px
}

.flex {
    display: flex
}

@media(max-width:575.98px) {
    .m-b-xs-15 {
        margin-bottom: 15px
    }
}

.pageLoader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 111111111;
    align-items: center;
    justify-content: center;
    display: none
}

.pageLoader.open {
    display: flex
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(.5, 0, .5, 1) infinite;
    transform-origin: 32px 32px
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin: -3px 0 0 -3px
}

.lds-roller div:nth-child(1) {
    animation-delay: -.036s
}

.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px
}

.lds-roller div:nth-child(2) {
    animation-delay: -.072s
}

.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px
}

.lds-roller div:nth-child(3) {
    animation-delay: -.108s
}

.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px
}

.lds-roller div:nth-child(4) {
    animation-delay: -.144s
}

.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px
}

.lds-roller div:nth-child(5) {
    animation-delay: -.18s
}

.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px
}

.lds-roller div:nth-child(6) {
    animation-delay: -.216s
}

.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px
}

.lds-roller div:nth-child(7) {
    animation-delay: -.252s
}

.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px
}

.lds-roller div:nth-child(8) {
    animation-delay: -.288s
}

.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

svg {
    width: 50px;
    display: block
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0
}

.path.circle {
    animation: fadeInAni .9s linear;
    stroke: #417505;
    fill: #417505
}

.path.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check .9s .35s ease-in-out forwards;
    animation: dash-check .9s .35s ease-in-out forwards;
    stroke: #fff
}

@-webkit-keyframes dash-check {
    0% {
        stroke-dashoffset: -100
    }
    100% {
        stroke-dashoffset: 900
    }
}

@keyframes dash-check {
    0% {
        stroke-dashoffset: -100
    }
    100% {
        stroke-dashoffset: 900
    }
}

@keyframes fadeInAni {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

#loginOtp1:not(.d-none)+.resendOtpBtn,
#loginOtp2:not(.d-none)+.resendOtpBtn,
#loginOtp3:not(.d-none)+.resendOtpBtn,
#otp:not(.d-none)+.resendOtpBtn {
    display: flex
}

.resendOtpBtn {
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

@media(max-width:575.98px) {
    .resendOtpBtn {
        font-size: .8rem
    }
}

h1 {
    font-size: 1.4rem!important
}

@media(max-width:991.98px) {
    .no-pad {
        padding: 0
    }
}

@media(max-width:1199.98px) {
    .productSectionInfo .container {
        max-width: 100%
    }
}

.no-stock {
    color: #000;
    font-weight: 700;
    background-color: #fff;
    padding: 4px 12px;
    border-radius: 10px;
    border: 1px solid;
    opacity: .5;
    text-align: center;
    max-width: 400px
}

.productCard {
    border-radius: 0;
    padding: 30px
}

@media(max-width:767.98px) {
    .productCard {
        padding: 15px;
        flex-wrap: wrap;
        background-color: transparent;
        border-width: 0;
        padding: 0;
        margin-bottom: 15px
    }
}

.productCard .custom-select {
    font-size: .9rem;
    font-weight: 600
}

@media(max-width:1199.98px) {
    .productCard .custom-select {
        font-size: .8rem
    }
}

.productCard .prodImgCon {
    padding-bottom: 65%
}

.productCard .card-img-top {
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    height: auto;
    width: 100%;
    margin: 0 auto
}

@media(max-width:767.98px) {
    .productCard .card-body {
        padding-top: 0
    }
}

.productCard figure .offers {
    top: 0;
    left: 0;
    line-height: 1;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: .7rem;
    color: #fff;
    background-color: #44975b
}

.productCard .rate {
    font-size: .8rem;
    color: #a8a8a8;
    white-space: nowrap
}

.productCard .card-body {
    background-color: #fff
}

.productCard .btn {
    width: 200px;
    max-width: 48%;
    font-size: .9rem;
    height: 40px
}

.filterCon li {
    font-size: 1.1rem;
    padding: 10px 15px 10px 70px;
    min-width: 185px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    border-radius: 25px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly
}

.filterCon li i {
    display: none
}

.filterCon li img {
    width: 60px;
    position: absolute;
    top: 50%;
    left: -1px;
    border-radius: 50%;
    transform: translateY(-50%);
    border: 1px solid #c1c1c1
}

.filterCon li.activeFilter {
    border: 2px solid #2aac2c;
    color: #2aac2c
}

.filterCon li.activeFilter img {
    border: 2px solid #2aac2c;
    left: -2px
}

.filterCon li.activeFilter i {
    display: block;
    color: #2aac2c
}

.productViewPage .mobileHeader {
    background-color: #85ef0a
}

@media(max-width:767.98px) {
    .productViewPage header {
        margin-bottom: 15px
    }
}

.prodLeft {
    width: 45%
}

@media(min-width:992px) {
    .prodLeft {
        max-width: 35%
    }
}

@media(max-width:767.98px) {
    .prodLeft {
        width: 100%;
        padding: 15px;
        margin-bottom: 15px;
        background-color: #fff
    }
}

@media(max-width:991.98px) {
    .prodRight {
        width: 55%
    }
}

@media(max-width:767.98px) {
    .prodRight {
        width: 100%;
        padding: 15px;
        background-color: #fff
    }
}

.prodRight h2 {
    font-size: 1.3rem;
    color: #4e4e4e
}

@media(max-width:991.98px) {
    .prodRight h2 {
        font-size: 1.1rem
    }
}

.prodRight .card-title {
    font-size: 1.1rem
}

@media(max-width:991.98px) {
    .prodRight .comboItems {
        flex-wrap: wrap
    }
}

.prodRight .comboItem {
    flex-grow: 1;
    text-align: center
}

@media(max-width:991.98px) {
    .prodRight .comboItem {
        width: 50%;
        max-width: 50%
    }
}

.prodRight .comboItem figcaption {
    font-size: 1.1rem;
    color: #686868
}

@media(max-width:991.98px) {
    .prodRight .comboItem figcaption {
        font-size: .9rem
    }
}

.prodRight .comboItem::after {
    content: '+';
    font-size: 1.8rem
}

.prodRight .comboItem:nth-child(3)::after {
    opacity: 0
}

.prodRight .totalCombo {
    max-width: 120px;
    text-align: center
}

@media(max-width:1199.98px) {
    .prodRight .totalCombo {
        max-width: auto
    }
}

.prodRight .totalCombo .price {
    font-size: 2rem;
    color: #417505
}

@media(max-width:1199.98px) {
    .prodRight .totalCombo .price {
        font-size: 1.6rem
    }
}

.prodRight .totalCombo .addBtn {
    height: auto;
    width: 95px;
    max-width: 100%
}

.productDetailInfo .h3 {
    color: #2aac2c;
    font-size: 1.1rem
}

@media(max-width:767.98px) {
    .productDetailInfo .h3 {
        font-size: 1rem
    }
}

@media(max-width:991.98px) {
    .productDetailInfo .innerCon {
        padding: 30px
    }
}

@media(max-width:767.98px) {
    .productDetailInfo .innerCon {
        padding: 15px
    }
}

.productDetailInfo .listItems {
    list-style: none
}

.productDetailInfo .listItems li::before {
    content: '';
    min-width: 10px;
    height: 10px;
    max-height: 10px;
    background-color: #f01716;
    border-radius: 50%;
    left: -25px;
    top: 8px
}

.productDetailInfo .rightImg figcaption {
    font-size: 1.3rem
}

@media(max-width:767.98px) {
    .productDetailInfo .rightImg figcaption {
        font-size: 1.1rem
    }
}

.productDetailInfo .rightImg .imgCon {
    padding-bottom: 74%
}

.productDetailInfo .rightImg .imgCon:after {
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3)
}

.productDetailInfo .rightImg img {
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    height: auto;
    width: 100%;
    margin: 0 auto
}

.productDetailInfo .rightImg .playIcon {
    left: 0;
    right: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3rem;
    z-index: 1
}

.itemPros .item img {
    width: 60px
}

.videoModal {
    position: fixed;
    width: 525px;
    max-width: 100%;
    left: 50%;
    right: 0;
    bottom: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f4f4f4;
    display: none;
    z-index: 11;
    background-color: #000
}

.videoModal.open {
    display: flex;
    align-items: center
}

@media(max-width:767.98px) {
    .videoModal {
        width: 100%;
        transform: none;
        left: 0;
        top: 0
    }
}

.videoModal video {
    width: 100%
}

.videoModal .closeIcon {
    right: -12px;
    top: -12px
}

@media(max-width:767.98px) {
    .videoModal .closeIcon {
        right: 10px;
        top: 10px
    }
}

/*edit profile page css starts here*/

   
#wrapper {
           width: 80%; 
          margin: auto;
          margin-top: 75px;
          padding-bottom: 3px;
          padding-left: 30px;
          padding-right: 30px;
          background-color:#FFFFFF;
          /* box-shadow: 5px 5px 5px #000000; */
          min-width: 800px;
          min-height: 750px;
}
#content {/* min-height:725px; */}
#profile {/* width: 475px; */}
#maps{
      margin: 0;
      padding: 0;
}
label  {
        display:inline;
        text-align: right;
        width:140px;
        padding-right: 10px;
}
input,textarea{display:block;
               margin-bottom: 20px;
}
#RightColumn {float:right;
              padding-left:20px;
}
#RightColumn #PPicture {width:379px;  
}
#RightColumn #PPicture label {width:100px;
}
#RightColumn #SSound label {width:125px;
}
#RightColumn #groups,#SSound {min-width: 379px;
        padding-top: 25px;
}
#RightColumn #exclude {float:right;
          width: 130px;
}
#RightColumn #include {float:left;
          width: 130px;
}
.analytics { 
  margin:;
  padding: 5px 6px;
  width: 470px;
  overflow: hidden;
  text-shadow: 0 1px rgba(255, 255, 255, 0.2);
  background: #717c8c;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(top, #c3cbdd, #545b6a);
  background-image: -moz-linear-gradient(top, #c3cbdd, #545b6a);
  background-image: -o-linear-gradient(top, #c3cbdd, #545b6a);
  background-image: linear-gradient(to bottom, #c3cbdd, #545b6a);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 4px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 4px rgba(0, 0, 0, 0.5);
}

.analytics-title {
  margin: 0 0 5px 3px;
  line-height: 14px;
  font-size: 18px;
  font-weight: bold;
}

.analytics-chart {
  float: left;
}

.analytics-colchart {
  padding: 2px 4px 0;
  height: 165px;
  overflow: hidden;
  background: #3e4350;
  border: 1px solid;
  border-color: #242934 #2c313c #2f3542;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, #606a7e, #3e4350 50%, #4a5160 90%, #555d71);
  background-image: -moz-linear-gradient(top, #606a7e, #3e4350 50%, #4a5160 90%, #555d71);
  background-image: -o-linear-gradient(top, #606a7e, #3e4350 50%, #4a5160 90%, #555d71);
  background-image: linear-gradient(to bottom, #606a7e, #3e4350 50%, #4a5160 90%, #555d71);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), inset 0 60px rgba(255, 255, 255, 0.02), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), inset 0 60px rgba(255, 255, 255, 0.02), 0 1px rgba(255, 255, 255, 0.1);
}

.analytics-colgroup {
  float: left;
  margin: 0 7px;
  height: 100%;
}

.analytics-col {
  position: relative;
  float: left;
  margin: 0 2px;
  width: 4px;
  height: 100%;
}

.analytics-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0be4aa;
  -webkit-box-shadow: 0 0 4px rgba(11, 228, 170, 0.7);
  box-shadow: 0 0 4px rgba(11, 228, 170, 0.7);
}

.analytics-legend {
  margin-top: 3px;
  padding: 0 4px;
  height: 14px;
  line-height: 14px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}

.analytics-legend > p {
  float: left;
  width: 25%;
}

.analytics-legend span {
  line-height: 13px;
  font-weight: normal;
  font-size: 12px;
}

.analytics-metrics {
  float: right;
  width: 195px;
  text-align: center;
}

.analytics-count {
  margin-bottom: 15px;
  line-height: 60px;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

.analytics-metric {
  float: left;
  width: 50%;
  line-height: 15px;
  font-size: 12px;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.analytics-metric > span {
  display: block;
  margin-top: 6px;
  line-height: 24px;
  font-size: 24px;
  font-weight: normal;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
}

.analytics-metric + .analytics-metric {
  border-left: 1px solid #5e6876;
  border-left-color: rgba(40, 44, 52, 0.25);
  -webkit-box-shadow: inset 1px 0 rgba(255, 255, 255, 0.05), -1px 0 rgba(255, 255, 255, 0.05);
  box-shadow: inset 1px 0 rgba(255, 255, 255, 0.05), -1px 0 rgba(255, 255, 255, 0.05);
}

/*edit profile page css ends here*/

a.signup_header {
    color: white;
    text-decoration: none;
}
a.signup_header.font18 {
    font-size: 18px;
        margin-right: 10px;
}